<h1>About</h1>
 <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
　　お子様からお年寄りまでお召し上がりいただけるよう、<br>
　　さまざまなバリエーションをご用意しております。<br>
　　また、全国発送ですので「いつ」でも「どこ」でもご注文いただけます。<br>
　　是非ご注文ください。</p>

<%= image_tag 'cake.jpg',:size =>'500x480'%>